// ia_styles.scss part of ia_mix suite
// http://github.com/sinsunsan/ia_mix

// Some comon style for the site that could be overriden and extended
// It use variables values
// It defined base classes that are genarally not applied directly 
// They are assigned to existing drupal class thanks to @extend syntax

// Standards :
// - The folowing style will be in the final style sheet
// - For this we use the /**/ comment style in order the final css stylesheet class be commented


/* Style of the text of label field */
.ia-drupal-label-field-tx {
  color: $ia-col-tx-main;
  font-size: $ia-tx-norm;
}

.ia-drupal-form-description {
  color: $ia-col-tx-main;
  font-size: $ia-tx-note;
  line-height:$ia-tx-note*1.5;
  // No right padding to be align with the field
  padding: $ia-tx-note 0;
}


.ia-button {
  @include ia-button($tx-size: $ia-tx-norm)
}

.ia-button-big {
  @include ia-button($tx-size: $ia-tx-title, $radius: 20px);
}
.ia-button-light {
  @include ia-button($tx-size: $ia-tx-norm, $radius: 10px);
}