// ia_variables.scss part of ia_mix suite
// http://github.com/sinsunsan/ia_mix

//Theses variables are used as default values by _ia_mixin.scss

// Standards :
// - variable name are not prefixed with ia and use - as separator
// - variable designed to target pseudo element are just appended with the name of this pseudo element
// - For example $col-tx for normal state and $col-tx-hover for hover state



/*
 * Text size
*/

// Texte size in em
$tx-xs: 0.6em;
$tx-s: 0.8em;
$tx-m: 0.9em; 
$tx-l: 1.2em;
$tx-xl: 1.5em;
$tx-xxl: 2em;

// Text size in px (comment to use text-size in em)
$tx-xs: 8px;
$tx-s: 10px;
$tx-m: 12px; 
$tx-l: 14px;
$tx-xl: 16px;
$tx-xxl: 20px;


/*
 * Text size by use case
 * These use cases can be reproduced from site to site
*/

$ia-tx-high: $tx-xxl; // Big text used to highlight some element
$ia-tx-title: $tx-l; // Text size used in title
$ia-tx-norm: $tx-m; // Normal text used in text paragraphs
$ia-tx-note: $tx-s;// Small text used in notes for example


/*
 * Text color types
 * 
 * These colors indend to provide colors types that is commonly used in web site
 * The color value itself will probably be overriden from site to site
*/

// Colors of the text
$ia-col-tx-main: black; // Main color used for text on the site 
$ia-col-tx-sec:  black; // Secondary color for text
$ia-col-tx-ter: black; // Tertiary color fo text
$ia-col-tx-link:  blue; // Color used to separate visually links form other texts
$ia-col-tx-link-hover: red; // Color used for links in hover state

// Colors of the background
$ia-back-col: white; // Color for the background

// Style of the buttons
$ia-button-tx-col: black; //Color of the text of the button
$ia-button-tx-col-hover: blue; //Color of the text of the button in the hover state
$ia-button-back-col: #CCC; // Color of the background of the buttons
$ia-button-back-col-hover: white; // Color of the background of the buttons in hover state
$ia-button-border-col: none; //Color of the border of a button
$ia-button-border-style: solid; // Line type of the border of the button

// Colors of lines
$ia-line-col: #CCC; // Color for border and separator
$ia-line-style: solide; // Default style for lines

/*
 * Margin and padding
*/
// Standard margin or padding between elements
$ia-marg-big: 40px;
$ia-marg-norm: 20px;
$ia-marg-small: 10px;




