// ia_mixin.scss part of ia_mix suite
// http://github.com/sinsunsan/ia_mix

// Standards :
// - mixin name are prefixed with ia and use _ as separator
// - mixin use wheras possible default value for input variables 
// - Theses default values use ia_variable.scss variables definition
// - Use long name for mixin parameter in order to facilitate their reading when they are assigned a value 
// - For exemple $margin is better than $marg
// - Global variables (defined in variable file) are prefixed with ia
// - Argument of the function that exist only in mixin scope are not prefixed




// Make a empty div with a background images
// This could be used for headers with big image
@mixin ia_empty_div($height, $src) {
  background-image: url($src);
  background-repeat: no-repeat;
  height: $height;
}


// Make a float cell to constitute fluid grid
@mixin ia_cell_float($width, $margin:$ia-marg-norm) {
  margin: $margin;
  width: $width;
}


//Standard bottom separator between element
@mixin ia_separator($color: $ia-line-col, $margin: $ia-marg-norm , $line-style: $ia-line-style) {
  border-bottom: $line-style 1px $color;
  margin-bottom: $margin;
  padding-bottom: $margin;
}


//Buttons
// $tx-size : Size of the text
// $tx-col : Color of the text 
// $tx-col-hover : Color of the text hovered
// $col-back : Color of the background
// $col-back-hover : Color of the hovered backgroun
// $border-type : solid, dashed 
// $radius of the button if any
@mixin ia_button($tx-size: $ia-tx-norm , $tx-col: $ia-button-tx-col , $tx-col-hover: $ia-button-tx-col-hover , $col-back: $ia-button-back-col , $ia-back-col-hover: $ia-button-back-col-hover, $border-col: $ia-button-border-col , $border-type: solid , $radius: 0) {
  
  background: $col-back;
  
  // Border styling 
  border: 0;
  border: $border-col 1px $border-type;
  @if $radius != 0 {@include border-radius($radius)};
  
  color: $tx-col;
  cursor: pointer;
  font-size: $tx-size;
  
  //The margin and padding are dependent of $tx-size
  margin: $tx-size;
  padding: $tx-size/1.5 $tx-size;
  
  //float: left;
  // Hover state
    &:hover {
      background: $ia-back-col-hover;
      color: $tx-col-hover;
    }
}

// Form field style in drupal 
// $tx-col: Color of the text
// $tx-size: Size of the text
// $tx-weight: Weight of the text
@mixin ia_field_label ($tx-col: $ia-col-tx-main, $tx-size: $ia-tx-norm, $tx-weight: normal) {
  color: $tx-col;
  font-size: $tx-size;
  font-weight: $tx-weight;
}


// Allow to float drupal field along another field 
// This mixin is supposed to be applied on .ia_fields_group div 
// But it'll work on all the wrapping div around the fields
// To make such wrapping fields use #prefix and #suffix
// the first and last field to be floated like the following 
// Thes line has to be placed in a hook_form_alter in a custom module
// $form['field_edi_user_prenom'][0]['#prefix'] = '<div class="ia_fields_group">';
// $form['field_edi_user_nom'][0]['#suffix'] = '</div>';

// $margin-right : Margin between two fields
// $field-width: define explicitly the width of the field to prevent long description to break the floating appearance 
@mixin ia_fields_float($margin-right: 20px , $desc-max-width: 200px) {
  @include ia_wrap_float;
  div.form-item {
    float: left;
    margin-right: $margin-right;

  }
  div.description {
    float: left;
    width: inherit;
    max-width: $desc-max-width;
  }
  
}

