// This file is part of ia_mix suite
// http://github.com/sinsunsan/ia_mix

// The search block
@mixin ia-block-search (
  $border: false, 
  $background: false,
  $font: false,
  $font-size: $ia-tx-norm,
  $padding: false,
  $radius: false, 
  $width: false
){
  h2,
  label {
      display: none;
  }
  input[type="text"] {
    @include ia-background($background);
    @include ia-border($border);
    @include ia-font($font);
    @include ia-padding($padding);
    @include ia-width($width);
    @include ia-radius($radius);
  }
  // The submit button
  input[type="submit"] {
    display: none;
  }
}

// The content complete block 
// http://drupal.org/project/content_complete
// #content-complete-wrapper { @include ia-content-complete; }
@mixin ia-content-complete (
  $background: gray,
  $border: solid 1px gray,
  $height: 15px,
  $radius: false,
  $width: 75px
){
  // The content complete bar itself
  #content-complete-percent-bar-wrapper {
    @include ia-border($border);
    @include ia-height($height);
    @include ia-radius($radius);
    @include ia-width($width);
    // The color bar inside that indicate completeness
    #content-complete-percent-bar{
      @include ia-border($border);
      @include ia-background($background);
      height: $height - 2px; // To allow the containing complete bar get the full height of its wrapper
      @include ia-radius($radius);
      
    }
  } 
}


// The pager block (as used by the view module)
// TO be applied on div.pager { @include ia-pager;} 
// Don't forget the div it's necessary to override
@mixin ia-pager (
  // The properties of the paging items
  $item-background: false,
  $item-border: false, // border of the pager item
  $item-font: false,
  $item-font-size: $ia-tx-norm,
  $item-padding: false,
  $item-radius: false,
  
  // Properties of the current pager item
  $item-current-background: false,
  $item-current-border: false, // border of the pager item
  $item-current-font: false,
  $item-current-font-size: $ia-tx-norm,
  $item-current-padding: false,
  $item-current-radius: false,
  
  // Properties of the wrapper
  $wrapper-background: false,
  $wrapper-border: false,
  $wrapper-margin: false,
  $wrapper-padding: false,
  $wrapper-float: false

) {
  & {// The pager wrapper itself
    @include ia-background($wrapper-background);
    @include ia-border($wrapper-border);
    @include ia-float($wrapper-float);
    @include ia-margin($wrapper-margin);
    @include ia-padding($wrapper-padding);
  }
  ul.pager {
    li span, // by default current item will have the same aspect that others
    li a {
      @include ia-background($item-background);
      @include ia-border($item-border);
      @include ia-font($item-font);
      @include ia-font-size($item-font-size);
      @include ia-padding($item-padding);
      @include ia-radius($item-radius);
      &:hover{
          @include ia-background($item-background);
          @include ia-font($item-font);
      }
    }

    // The current pager is not clickable and are thus not a a markup 
    // It override the default apearance
    li.pager-current span {
      @include ia-background($item-current-background);
      @include ia-border($item-current-border);
      @include ia-font($item-current-font);
      @include ia-font-size($item-current-font-size);
      @include ia-padding($item-current-padding);
      @include ia-radius($item-current-radius);
    }
  }
}
