// This file is part of ia_mix suite
// http://github.com/sinsunsan/ia_mix


//Buttons
@mixin ia-button(
  $font-size: $ia-tx-norm , // Size of the text
  $color: $ia-button-tx-col , // Color of the text 
  $color-hover: $ia-button-tx-col-hover , // Color of the text hovered
  $col-back: $ia-button-back-col , // Color of the background
  $ia-back-col-hover: $ia-button-back-col-hover , //Color of the hovered backgroun
  $border-col: $ia-button-border-col , // 
  $border-type: solid , // border-type :  solid, dashed 
  $radius: 0 // radius of the button if any
) 
{
  
  background: $col-back;
  
  // Border styling 
  border: 0;
  border: $border-col 1px $border-type;
  @if $radius != 0 {@include border-radius($radius)};
  
  color: $color;
  cursor: pointer;
  font-size: $font-size;
  
  //The margin and padding are dependent of $font-size
  margin: $font-size;
  padding: $font-size/1.5 $font-size;
  
  //float: left;
  // Hover state
    &:hover {
      background: $ia-back-col-hover;
      color: $color-hover;
    }
}
