// This file is part of ia_mix suite
// http://github.com/sinsunsan/ia_mix

// Common settings to node edit form
@mixin ia-form-node-edit(){
  // This class added by ia_editforms modules wrap the node edit button in a div
  .node-buttons {
    margin-top: 20px;
  }
}

// Settings common to all fields
@mixin ia-form-input-fields(){
  // Settings directly form twitter bootstrap
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

// Set the style of form input text element 
// As found in drupal node form
//
// Sould be applyed to a form item container
// .form-item { @include ia-form-field-input }
@mixin ia-form-input-text (
  $background: $ia-form-input-background,
  $border: false,
  $font-size: $ia-tx-norm,
  $height: false,
  $radius: false,
  $width: false,
  $border: solid 1px $ia-col-gris-light
) {    
    // Both system of width are accepted
    // Cause of of bug of interpretation (don't change {  position })
    input[type="text"]
    {
      box-shadow: none;
      @include ia-background($background); 
      height: 1.5 * $font-size;
      @include ia-border($border);
      @include ia-font-size($font-size);
      @include ia-radius($radius);
      @include ia-width($width);      
      @include ia-form-input-fields;
    }

}

// Set the style of form input text element 
// As found in drupal node form
//
// Sould be applyed to a form item container
// .form-item { @include ia-form-field-input }
@mixin ia-form-input-select (
  $background: $ia-form-input-background,
  $border: false,
  $font-size: $ia-tx-norm,
  $radius: false,
  $width: false,
  $border: solid 1px $ia-col-gris-light
) {    
    // Both system of width are accepted
    // Cause of of bug of interpretation (don't change {  position })
    select
    { 
      margin: 0;
      @include ia-background($background); 
      height: 1.5 * $font-size;
      @include ia-border($border);
      @include ia-form-input-fields;
      @include ia-radius($radius);
      @include ia-width($width);
    }

}


// Should be applyed in the field container 
// .form-item-textarea { @include ia-form-text-area }
@mixin ia-form-text-area(
  $background: $ia-form-input-background,
  $border: false, // Border
  $font-size: false, // 
  $height: false, // Height
  $margin: false, // Margin
  $radius: false,
  $padding: false, // Padding
  $width: false // Width
) {
  
  @include ia-padding($padding);
  @include ia-margin($margin);
  
  // Texte area field
  .resizable-textarea {
    @include ia-font-size($font-size);
    @include ia-height($height);
    @include ia-width($width); 
    textarea {
      @include ia-background($background); 
      @include ia-border($border);
      @include ia-radius($radius);
      
    }
    @include ia-form-input-fields;
  }
  input[type="text"]{
    @include ia-width($width); 
    @include ia-font-size($font-size);
    @include ia-height($height);
    @include ia-background($background); 
  }
  // Help text below
  .description {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    @include ia-width($width);
  }
  
}


// This mixin sould be applied of the field element 
// but this field don't ouput a class that specify it's type at the top level
// @todo add this missing class with ia module
@mixin ia-form-file-field (
  $background: $ia-form-input-background,
  $border: none,
  $font-size: $ia-tx-norm,
  $radius: false,
  $width: false
) {
  
  .widget-preview {
    // Make an annoying right border disapear
    border: 0;
  }
  .imagefield-preview {
    // The height of the image field preview 
    // has only the image size as minimal values
    min-width: 0;
    min-height: 0;
  }
  
  ///.filefield-element {
  //  margin-top: 0;
  // We need to have always the type printed at the form-item top level
  // To have a consistent handling a file independently of their type
  
    // Both system of width are accepted
    // Cause of of bug of interpretation (don't change {  position })
    input[type="file"]{
      // Default margin to give space at right of the select list
      margin-right: 15px;
      @include ia-background($background);
      height: 1.5 * $font-size;
      @include ia-border($border);
      @include ia-radius($radius);
      @include ia-width($width);
       
    }
    // Button that allow to load the image before submitting the node
    // When the image is loaded change to a remove button
    // The problem when upload the image is that this button 
    // should be activited automatically through javascript
    // When the image is one depending off the cases 
    // It's useful to have the button or not
    input[type="submit"]{
      @include ia-style-button-small;
    }
    // For multifields button to add another element
   
}

// Multiple file field output is different
// This is a default styling
@mixin ia-form-file-field-multiple (){
  // File field multiple
  table.content-multiple-table {
    // Remove default border and background
    tr.even,
    tr.odd {
      background-color: transparent;
      border: 0;
      border-top: dotted 1px $grayLight;
    }
  }
  .content-add-more {
    margin-top: $ia-base-tx;
    input[type="submit"]{
      @include ia-style-button-medium;
    }
  }
}



// Multiple node reference widget
@mixin ia-form-nodereference (
  $font-size: $ia-tx-norm,
  $width: ia-grid(4), // Width of the input text
  $border: solid 1px $ia-col-gris-light
) {
  
  
  $noderelationship-width: 52px;
  $drag-width: 25px;
  $total-width: ia-grid(4);  
  $input-width : $total-width - $drag-width - $noderelationship-width;
  
  table.content-multiple-table {
    // Use exact pixel diemnsions
    //table-layout: fixed;
    
    // The icon and the text field
    td {
      margin: 0;
      padding: 0; 
      width: auto;
      input[type="text"] {
        width: $input-width;
      }
    }
    // The icon to change the order of the node reference fields
    
    td.content-multiple-drag {
      //width: 20px;
    }
    
  }
  
}


// Should be applyed in the field container 
// .form-item-radios { @include ia-form-radio }
@mixin ia-form-radio (
  $title-color: false, // Color of the title of the field
  $title-font: false, // Style of the title of the field
  
  $option-color: false, // Color of the options text
  $option-font: false, // Style of the options text
  
  $help-color: false, // Color of the help text beneath the options
  $help-font: false, // Style of the help text
  
  $width: false, // Width of the containing div
  
  $border: false // border style of the containing dic
) {
  @if ($width) { width: $width; }
  @if ($border){ border: $border; }
  
  label {
    @if ($title-color) { color: $title-color; }
    @if ($title-font) { font: $title-font; }
  }
  .form-radios {
    margin: 0;
    padding: 0;
  }
  // Each radio button is wrapped in a .form-item div
  .form-item.form-item-radio {
    margin: 0;
    padding: 0;
    // text of the option along radio button
    label {
      @if ($option-color) { color: $option-color;}
      @if ($option-font) { font: $option-font;}
    }
  }
  // Description
  .description {
    margin: 5px;
    padding: 0;
    @if ($help-color) { color: $help-color; }
    @if ($help-font) { font: $help-font; }
  }
}

// To be applied on a fieldset element 
// fieldset { @include ia-fieldset; }
@mixin ia-form-fieldset(
  $background: false, // Background
  $border: false, // Border
  $height: false, // Height
  $margin: false, // Margin
  $radius: false, // Border radius
  $padding: false, // Padding
  $width: false, // Width
  
  $border-collapsed: 0 // Border
) {
  // open state of the fieldset
  &.collapsible {
    @include ia-background($background);
    @include ia-border($border);
    @include ia-height($height);  
    @include ia-margin($margin);  
    @include ia-padding($padding);  
    @include ia-radius($radius);
    @include ia-width($width); 
  }
  // closed state of the fieldset
  &.collapsible.collapsed {
    @include ia-border($border-collapsed);
  }
}

// Form field style in drupal 
// $color: Color of the text
// $font-size: Size of the text
// $font-weight: Weight of the text
@mixin ia-field-label (
  $color: $ia-col-tx-main,
  $font-size: $ia-tx-norm,
  $font-weight: normal
) {
  color: $color;
  font-size: $font-size;
  font-weight: $font-weight;
}



//To be applied to the location fieldset 
// fieldset.location { @include ia-fieldset-location; }
@mixin ia-fieldset-location(
  $border: false, // Border
  $radius: false, // Border radius
  $label-float: left, // is the label float at the left of the field
  $label-text-align: left, // Alignement of the text label
  $label-width: ia-grid(4), // Fixed width of the labels
  $field-width: ia-grid(6)  // Fixed width of the fields
) {
  // The wrapping div that can have a border style
  .fieldset-wrapper {
    @include ia-border($border);
    @include ia-radius($radius);
    
    // Label of the fields
    label {
      float: $label-float;
      text-align: $label-text-align;
      width: $label-width;
    }
    // Fields 
    .form-item {
      
    }
    
  }
  
  
}

