// This file is part of ia_mix suite
// http://github.com/sinsunsan/ia_mix

// TABS Menu
//
// Drupal use tabs for a lot of interface elements 
// Depending on the module that ouput the html
// The targeting class will be different
// 
// To use apply on the main container of the tab
// #quicktabs-edi_og_tabs { @include ia-menu-tabs } // A specific quicktab tab
// #content-tabs { @include ia-menu-tabs } // The default node tabs

@mixin ia-menu-tabs(
  $font-size: 12px , // Text height from which is calculated margin and paddings
  $float: left , // If the tabs are aligned to left of to right
  
  $class: 'qt_tab' , //the classes of ul in order to override drupal more specific standard css
  $ul-class: ''  , // To target a more specific class of the tabs link container
  
  $border-color: false , // Deprecated

  $tabs-radius: 5px, // Radius of the tabs

  $tab-active-border: solid 1px $ia-col-gris-light , // The border style of the active tabs
  $tab-active-background: transparent , // The background style of the active tabs
  $tab-active-tx-color: false , // Only set when need to override default a style
  $tab-active-tx-style: false , // a font one line list of properties
  
  $tabs-separator: 5px , // width between each tabs 
  $tabs-border: solid 1px $ia-col-gris-light , // The border style of the inactive tabs
  $tabs-background: $ia-col-gris-lighter , // The background style of the inactive tabs
  $tabs-tx-color: false , // Only set when need to override default a style
  $tabs-tx-style: false , // a font one line list of properties

  $container-background:'white', // The background style of the container
  $container-border: solid 1px $ia-col-gris-light // The border style of the container
) {
  // Properties to override default behavior with #content-tabs
  background: transparent;
  border: 0;
  @include ia-tx-family;
  
  .ui-tabs-panel, //Content area for field group tabs
  .quicktabs_main// Content area
   {
    border: $container-border;
    border-top: none; // The top border is hidden hidden, it's drawn by the ul element
    min-height: 500px;
    padding: 2em;
  }
  //Container of all tabs navigation element
  ul.ui-tabs-nav, // tabs elements for field group tabs
  ul#{$ul-class} { 
    border-bottom: $container-border;
    height: 100%;
    
    // Put all margin to 0 expept upper margin
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 1.2*$font-size;
    
    overflow: hidden;
    padding: 0;
    width: 100%;
    
    // Container of on tab
    li {
      background: transparent;
      
      float: $float;
      list-style-type: none;
      
      margin: 0;
      padding:0;
      
      // width between each tab
      @if ($float == 'left') { margin-right: $tabs-separator; }
      @if ($float == 'right') { margin-left: $tabs-separator; }
      
      // All tabs (including the active one) 
      & a {
        background: $tabs-background;
        @if ($tabs-tx-color) { color: $tabs-tx-color; }
        @if ($tabs-tx-style) { color: $tabs-tx-style; }
        
        @include border-top-radius($tabs-radius);
        float: $float;
        margin: 0;
        padding: $font-size/1.5;
        @include ia-font-size($font-size);
      } 
       
      // The active tag alone
      // different selector depending of the module that make this tabs
      &.ui-tabs-selected a, // field groupe module markup
      &.active a { // other module markup
        background: $tab-active-background;
        
        border: $tab-active-border;
        border-bottom: none;
        
        
        // border-bottom: solid 1px $col-blanc;
        @if ($tab-active-tx-color) { color: $tab-active-tx-color; }
        @if ($tab-active-tx-style) { color: $tab-active-tx-style; }
        padding: $font-size/1,5 !important; 
      }
    }  
  }
}