// This file is part of ia_mix suite
// http://github.com/sinsunsan/ia_mix

// Standards :
// - mixin name are prefixed with ia and use _ as separator
// - mixin use wheras possible default value for input variables 
// - Theses default values use ia_variable.scss variables definition
// - Use long name for mixin parameter in order to facilitate their reading when they are assigned a value 
// - For exemple $margin is better than $marg
// - Global variables (defined in variable file) are prefixed with ia
// - Argument of the function that exist only in mixin scope are not prefixed


// Set the width of an element to fit inside a specific number of grid division
@mixin ia-width (
  $grid_nb , // Nb of grid division to set the width
  $grid-column-width: $ia-grid-column-width ,  
  $grid-gutter-width: $ia-grid-gutter-width
) {
  width: ($grid_nb * $grid-column-width) + ($grid-gutter-width * ($grid_nb - 1));
}



// Make a empty div with a background images
// This could be used for headers with big image
@mixin ia-empty-div($height, $src) {
  background-image: url($src);
  background-repeat: no-repeat;
  height: $height;
}


// Make a float cell to constitute fluid grid
@mixin ia-cell-float($width, $margin:$ia-marg-norm) {
  margin: $margin;
  width: $width;
}


//Standard bottom separator between element
@mixin ia-separator($color: $ia-line-col, $margin: $ia-marg-norm , $line-style: $ia-line-style) {
  border-bottom: $line-style 1px $color;
  margin-bottom: $margin;
  padding-bottom: $margin;
}



// Simple link without background
// Should be applied on div that containe input, a
@mixin ia-link(
  $font-size:$ia-tx-norm,
  $col-link: $ia-col-tx-link ,
  $col-link-hover: $ia-col-tx-link-hover
) {
  input[type="submit"], 
  input[type="submit"].form-submit {
    background: none;
    color: $col-link;
    &:hover {
      background: none;
      color: $col-link-hover;
    }
  }
}




// List of menu item 
// the menu item are positionned vertically
// To be applied on a menu block
@mixin ia-menu-block($float: left , $font-size: $ia-tx-norm) {
  // The containing block
  & {
    float: $float;
    margin: $font-size;
  }
  ul.menu {
    li a {
      color: $ia-col-tx-link;
    }
  }
  // The title of the block
  h2 {
    font-size: $ia-tx-title;
    @include ia-baseline($ia-tx-title);
  }  
}