// This file is part of ia_mix suite
// http://github.com/sinsunsan/ia_mix

// Small elements that could be included in mixin

// Allow wrapper div that contain floating element 
// To extend to the height of its elements
@mixin ia-wrap-float() {
  // todo : Per aps it's not the good property investigate
  overflow: auto;
}

// The width of the $nb of column in the grid system
@mixin ia-span($nb, $grid-column: $ia-grid-column-width) {
  width: $nb*$grid-column;
}

// The line height depending of the height of the tex
@mixin ia-baseline($tx-size) {
  line-height: 1.5*$tx-size;
}


// Allow to defin in one shot the font-size and the line height proportionaly
// $font-size : Size of the text
// $
@mixin ia-tx-size($font-size, 
$line-height-factor:$ia-tx-line-height-factor) {
  font-size: $font-size;
  line-height: $font-size * $line-height-factor;
}
