// This file is part of ia_mix suite
// http://github.com/sinsunsan/ia_mix

// Small elements that could be included in mixin

// Allow wrapper div that contain floating element 
// To extend to the height of its elements
@mixin ia-wrap-float() {
  // todo : Per aps it's not the good property investigate
  overflow: auto;
}

// The width of the $nb of column in the grid system
@mixin ia-span(
  $nb,
  $grid-column: $ia-grid-column-width
) {
  width: $nb*$grid-column;
}

// The line height depending of the height of the tex
@mixin ia-baseline($font-size) {
  line-height: 1.5*$font-size;
}


// Allow to defin in one shot the font-size and the line height proportionaly
// $font-size : Size of the text
// $
@mixin ia-tx-size(
  $font-size, 
  $line-height-factor:$ia-tx-line-height-factor
) {
  font-size: $font-size;
  line-height: $font-size * $line-height-factor;
}


// Mixin to apply box properies in mixins 
@mixin ia-box(
  $width: false, 
  $width-grid: false,
  $height: false,
  $height-grid: false,
  $border: false,
  $padding: false,
  $margin: false
){
  @include ia-width($width);
  @if ($width-grid){ @include ia-width($width-grid) }
  
  @if ($height){ height: $width; }
  @if ($height-grid){ @include ia-height($height-grid) }
  
  @if ($border){ border: $border; }
  
  @if ($padding){ padding: $padding; }
  @if ($margin){ padding: $margin; }
}  

// Apply the display:inline-block even for IE 
// http://www.alsacreations.com/article/lire/1209-display-inline-block.html
// To be applied to the element to give the inline block display
@mixin ia-inline-block {
  display: inline-block;
  
  // Hacks for IE 
  // For IE < to 8 the display: inline-block doesn't work if the 
  // standard display of the element is block (for example applyed to a div)
  // But the two following line works the same for IE 
  // They souldn't be interpreted for browser different from IE
  
  // @todo found a hack to apply the folowing selectively for IE
  // zoom: 1; // Give the layout to the element
  // display: inline; 
}


// Submixin to apply the argument send to the mixin and before test their existence

@mixin ia-background ($background:false){
  @if ($background){ background: $background; }
}
@mixin ia-border ($border:false){
  @if ($border){ border: $border; }
}
@mixin ia-color ($color:false){
  @if ($color){ color: $color; }
}
@mixin ia-height ($height:false) {
  @if ($height){ height: $height }  
}
@mixin ia-float ($float:false) {
  @if($float){ float: $float; }
}
@mixin ia-font ($font:false) {
  @if($font){ font: $font; }
}
@mixin ia-font-size ($font-size:false) {
  @if($font-size){ font-size: $font-size; }
}
@mixin ia-margin ($margin:false) {
  @if($margin){ margin: $margin; }
}
@mixin ia-padding ($padding:false) {
  @if($padding){ padding: $padding; }
}
@mixin ia-radius ($radius:false) {
  @if($radius){ @include border-radius($radius); }
}
@mixin ia-width ($width:false) {
  @if($width){ width: $width; }
}



