// ia_mixin.scss part of ia_mix suite
// http://github.com/sinsunsan/ia_mix

// Small elements that could be included in mixin

// Allow wrapper div that contain floating element 
// To extend to the height of its elements
@mixin ia_wrap_float() {
  // todo : Per aps it's not the good property investigate
  overflow: auto;
}

// The width of the $nb of column in the grid system
@mixin ia_span($nb, $grid-column: $ia-grid-column-width) {
  width: $nb*$grid-column;
}

// The line height depending of the height of the tex
@mixin ia_baseline($tx-size) {
  line-height: 1.5*$tx-size;
}