// This file is part of ia_mix suite
// http://github.com/sinsunsan/ia_mix

// THE DRUPAL STANDARD ADMIN VIEWS
// 
// To apply this mixin just add to the view the class ia-view-admi
//  Exemple : .ia-view-admi { @include ia-view-admi; }
//  .view : The view container
//  .view-header : The header of the view
//  .view-content : The content of the view


@mixin ia-view(


) {
  .view-header {
    padding: $ia-tx-norm*0.8 0;
    // Link in header are a bigger, because they 
    a {
      font-size: $ia-tx-norm*1.2;
    }
  }

  .view-content {
    margin-top: $ia-base-tx;
    // When the view use a table 
    // View Bulk Operation or table display 
    // It use ia-table-admi mixin
    table {
    } 
  }
  
}


@mixin ia-view-admi(
  $font-size: $ia-tx-norm
) {
  @include ia-view;
  table {
    @include ia-table-admi;
  }


}



// The default VBO apperance
// The submit button is along the select list and not under
// Sould be included inside a view definition 
// .view-example { include ia-view-vbo;  }
@mixin ia-view-vbo(
  $font-size: $ia-tx-norm
){

  // The VBO node selector select list + button
  #views-bulk-operations-select {
    margin-top: $font-size * 2;
    margin-bottom: $font-size;
    // Legend is hidden "batch operations"
    legend {
      display: none;
    }
    input[type="submit"] { 
      font-size: $ia-tx-s;
    }
  } 
  // The rest of the view, the view result and the select list of VBO 
  // To select which row are concerned 
  .views-node-selector {
    // Push the operation selector up to give space to the row selector
    margin-top: 10px;
    // The row selector
    // Row selector label (select list all on this page...)
    th.select {
      position: relative;
      top: -30px;  
    }
  }
}
