// @file part of ia_mix suite
// http://github.com/sinsunsan/ia_mix

// Colors variables

// Short cut for common colors
$white:                         #FFF;
$black:                         #000;

// TWITTER Bootstrap
// Grays
$black:             #000;
$grayDark:          lighten($black, 25%);
$gray:              lighten($black, 50%);
$grayLight:         lighten($black, 75%);
$grayLighter:       lighten($black, 90%);
$white:             #fff;


$ia-col-tx:                   black; // Standard text color

// Colors of the text
// Deprecated
$ia-col-tx-main:              black; // Main color used for text on the site 
$ia-col-tx-sec:               black; // Secondary color for text
$ia-col-tx-ter:               black; // Tertiary color fo text

$ia-col-tx1:                  $ia-col-tx-main; 
$ia-col-tx2:                  $ia-col-tx-sec;
$ia-col-tx3:                  $ia-col-tx-ter;


$ia-col-tx-link:              blue; // Color used to separate visually links form other texts
$ia-col-tx-link-hover:        red; // Color used for links in hover state


// Colors of the background
$ia-col-back:                 white; // Color for the background

// Gray (inspired from twitter bootstrap)
$ia-col-gris-black:            lighten($black, 10%);
$ia-col-gris-dark:             lighten($black, 20%);
$ia-col-gris-light:            lighten($black, 80%);
$ia-col-gris-lighter:          lighten($black, 90%);
$ia-col-gris-lighter-alt:      lighten($black, 95%);







