// @file part of ia_mix suite
// http://github.com/sinsunsan/ia_mix

// Typographic variables

// Text size in px 
$ia-tx-xs:                  0.66 * $ia-base-tx; // 8px
$ia-tx-s:                   0.83 * $ia-base-tx; // 10px 
$ia-tx-m:                   1 * $ia-base-tx; // 12px
$ia-tx-l:                   1.16 * $ia-base-tx; // 14px
$ia-tx-xl:                  1.33 * $ia-base-tx; // 16px
$ia-tx-xxl:                 1.66 * $ia-base-tx; // 20px


// Text size by use case
$ia-tx-big:                 $ia-tx-xxl; // Big text used to highlight some element
$ia-tx-title-big:           $ia-tx-xl; // Text size used in title
$ia-tx-title:               $ia-tx-l; // Text size used in title
$ia-tx-norm:                $ia-tx-m; // Normal text used in text paragraphs
$ia-tx-note:                $ia-tx-s; // Small text used in notes for example


// Typographic variables
$ia-tx-line-height-factor:  1.5; // coef between font-size and line height