// @file part of ia_mix suite
// http://github.com/sinsunsan/ia_mix

// Text size

// Text size in px 
$ia-tx-xs:                  0.66 * $ia-base-tx; // 8px
$ia-tx-s:                   0.83 * $ia-base-tx; // 10px 
$ia-tx-m:                   1 * $ia-base-tx; // 12px
$ia-tx-l:                   1.16 * $ia-base-tx; // 14px
$ia-tx-xl:                  1.33 * $ia-base-tx; // 16px
$ia-tx-xxl:                 1.66 * $ia-base-tx; // 20px


// Text size by use case
$ia-tx-big:                 $ia-tx-xxl; // Big text used to highlight some element
$ia-tx-title-big:           $ia-tx-xl; // Text size used in title
$ia-tx-title:               $ia-tx-l; // Text size used in title
$ia-tx-norm:                $ia-tx-m; // Normal text used in text paragraphs
$ia-tx-note:                $ia-tx-s; // Small text used in notes for example


// Typographic variables
$ia-tx-line-height-factor:  1.5; // coef between font-size and line height

$ia-tx-font-family: Arial, Helvetica, sans-serif;

// Style of text

// Complete sentence

// font-style:italic;  
// font-variant:small-caps;
// font-weight:bold;
// font-size:1em;
// line-height:140%;
// font-family:"Lucida Grande",sans-serif;


// Properties to be set at a global level (body ...)
// font-family:"Lucida Grande",sans-serif;

// font-variant
  // normal  (default)
  // small-caps (petites majuscules)
  // inherit (Specifies that the font variant should be inherited from the parent element)
// http://www.w3schools.com/cssref/pr_font_font-variant.asp
  
// font-style 
  // normal (default)
  // italic
  // oblique
  // inherit
// http://www.w3schools.com/cssref/pr_font_font-style.asp


// Compact sentence
// font:italic small-caps bold 1em/140% "Lucida Grande",sans-serif;


$ia-tx-style-link: normal normal $ia-tx-norm/$ia-tx-norm * $ia-tx-line-height-factor;
// Hover link are generally different only by the color
$ia-tx-style-link-hover: $ia-tx-style-link;

// Definition of text style the font familly is necessary
$ia-tx-style-norm:  #{$ia-tx-norm}/#{($ia-tx-norm * $ia-tx-line-height-factor)} $ia-tx-font-family;
$ia-tx-style-note:  #{$ia-tx-note}/#{($ia-tx-note * $ia-tx-line-height-factor)} $ia-tx-font-family;
$ia-tx-style-big:  #{$ia-tx-big}/#{($ia-tx-big * $ia-tx-line-height-factor)} $ia-tx-font-family ;


