// @file part of ia_mix suite
// http://github.com/sinsunsan/ia_mix

// Layout Variables

// Margin and padding
// Standard margin or padding between elements
$ia-marg-big:               40px;
$ia-marg-norm:              20px;
$ia-marg-small:             10px;

// Grid
// Default ia-grid for 960px grid with 16 divisions
$ia-grid-column:            16; // Nb of column of the grid
$ia-grid-column-width:      40px; // Width of each of the column
$ia-grid-gutter-width:      20px; // Width of the gutter of the column


// Inspired by sass twitter bootstrap
$ia-site-width:             ($ia-grid-column * $ia-grid-column-width) + ($ia-grid-gutter-width * ($ia-grid-column - 1));



