// @file part of ia_mix suite
// http://github.com/sinsunsan/ia_mix

// Drupal specific variable

// Height of the fields
$ia-drupal-field-height-norm:                   $ia-tx-xl;
$ia-drupal-field-height-big:                    $ia-tx-xxl;

// Style of the fieldset
$ia-drupal-fieldset-border-color:               $ia-line-col;
$ia-drupal-fieldset-border-style:               $ia-line-style;
