// @file part of ia_mix suite
// http://github.com/sinsunsan/ia_mix


// Default node form settings 
// Should ne applyed on a .node-form selector 
// .node-form { @include ia-style-node-form; }
@mixin ia-style-node-form () {
  
  // Default height of a text area (bigger than 2 row)
  .resizable-textarea {
    // Not able to define it
  }
    
    // Field field multiple
    @include ia-form-file-field-multiple;
  
  
  .filefield-element {
    @include ia-form-file-field;
  }
  // Special settings for form with column 
  &.node-form-has-region-right.node-form-has-region-main {
    
    // File field
    .filefield-element .widget-edit {
      // Unset a settings of max-with: 70% that don't work with column form
      max-width: none;
      
      // Small button for input submit of file field
      
      
    }
  }
  
  .filefield-upload {
    input[type="file"] {
      float: left;
    }
  }
  
  // Date fields with to and from value 
  // This rules set the hour along with the date by floating it and giving it width different from auto 
  
  // The first container (date)
  .container-inline-date .form-item .form-item:nth-of-type(1) {
    float: left; // Don't use normal float whith suffix technic because don't know how to modify subform element
    width: ia-grid(3);
    @include  ia-style-input-text(2);
  }
  // The second container (date)
  .container-inline-date .form-item .form-item:nth-of-type(2) {
    @include  ia-style-input-text(1);
  }  
  
  // Unset a default width given by hierarchical select widget which is too small
  .hierarchical-select-wrapper .hierarchical-select .create-new-item {
    border: none;
    width: auto;
    input[type="submit"] {
      @include ia-style-button-small;
    }
  }  

  
}

@mixin ia-style-input-text (
  $width: 6
) {
  @include ia-form-input-text(
    $border: $ia-form-input-border,
    $font-size: $ia-tx-norm,
    $radius: 4px,
    $width: ia-grid($width)
  )
}
@mixin ia-style-input-select (
  $width:  6
) {
  @include ia-form-input-select(
    $border: $ia-form-input-border,
    $font-size: $ia-tx-norm,
    $radius: 4px,
    $width: ia-grid($width)
  ); 
}


@mixin ia-style-input-text-area (
  $width:  6
) {
  @include ia-form-text-area(
    $border: $ia-form-input-border,
    $font-size: $ia-tx-norm,
    $radius: 4px,
    $width: ia-grid($width)
  ); 
}

@mixin ia-input-file() {
  @extend .ia-button-light;
  
}


// Drupal fields

.ia-field-norm {
  height: $ia-drupal-field-height-norm;
}
.ia-field-big {
  height: $ia-drupal-field-height-big;
}


// Style of the text of label field
.ia-drupal-field-label {
  @include ia_field_label(
    $font-size: $ia-tx-norm ,
    $font-weight: bold ,
    $color: $ia-col-tx-main);
}

.ia-drupal-form-description {
  color: $ia-col-tx-main;
  font-size: $ia-tx-note;
  line-height:$ia-tx-note*1.5;
  // No right padding to be align with the field
  padding: $ia-tx-note 0;
}


// When used on a wrapping div wrapping
// several cck fields those fields will float
.ia_fields_group {
  @include ia-fields-float();
}

@mixin ia-style-fieldset-location {
  @include ia-fieldset-location(
    $border: none, // Border
    $radius: false, // Border radius
    $label-float: none, // The label is not floating
    $label-text-align: left, // Alignement of the text label
    $label-width: auto, // Fixed width of the labels
    $field-width: auto  // Fixed width of the fields
  );
  
}


