// ia_styles.scss part of ia_mix suite
// http://github.com/sinsunsan/ia_mix

// Some comon style for the site that could be overriden and extended
// It use variables values
// It defined base classes that are genarally not applied directly 
// Instead they are assigned to existing drupal class thanks to @extend syntax

// Standards :
// - The folowing style will be in the final style sheet
// - For this reason we use the /**/ comment style in order the final css stylesheet class be commented


/* Style of the text of label field */
.ia-drupal-field-label {
  @include ia_field_label($tx-size: $ia-tx-norm , $tx-weight: bold , $tx-col: $ia-col-tx-main);
}

.ia-drupal-form-description {
  color: $ia-col-tx-main;
  font-size: $ia-tx-note;
  line-height:$ia-tx-note*1.5;
  // No right padding to be align with the field
  padding: $ia-tx-note 0;
}


/* Drupal buttons */

.ia-button {
  @include ia-button($tx-size: $ia-tx-norm)
}

.ia-button-big {
  @include ia-button($tx-size: $ia-tx-title, $radius: 20px);
}
.ia-button-light {
  @include ia-button($tx-size: $ia-tx-norm, $radius: 10px);
}

/* Drupal fields */

.ia-field-norm {
  height: $ia-drupal-field-height-norm;
}
.ia-field-big {
  height: $ia-drupal-field-height-big;
}

.ia-fieldset-simple {
  border: dotted 1px $ia-line-col;
  margin: 1em 0.5em 1em 0.5em;
  padding: $ia-marg-small;
}

.ia-drupal_message-status {
  border: $ia-line-style 1px $ia-line-col;
  
}

// When used on a wrapping div wrapping several cck fields those fields will float
.ia_fields_group {
  @include ia_fields_float();
}


.ia-para {
  margin-bottom: 2em;
}


// Define the default admi view class
.ia-view-admi {
  @include ia-view-admi;
}




// Standard IA title style
// In each title level that correspond to H1 H2 H3 H4 
// We define the following properties 
// Mandatory
// Font-size
// Color
// Line
.ia-title1 {
  @include ia-tx-size($ia-tx-xxl);
}
.ia-title2 {
  @include ia-tx-size($ia-tx-xl);
  
}
.ia-title3 {
  @include ia-tx-size($ia-tx-l);
}
.ia-title4 {
  @include ia-tx-size($ia-tx-m);
}
